@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

h1,h2,h3 {
    margin-bottom: 1.15rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

h1#heading {
    margin: 0rem;
    margin-left: 1.25rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding: 0.75rem 2rem 0.75rem 2rem;
    text-decoration: none;
}
pre {
    padding: 16px;
    color: #a5d6ff;
    background: #161b22;
    border-radius: 10px;
    line-height: 1.45;
    overflow: auto;
    width: 100%;
}
a:hover {
    text-decoration: none;
}

blockquote {
    font-size: 1em;
    padding-left: 6px;
    margin-top: 2px;
    border-left: 5px solid #333333;
    background: #111111;
    width: 75%;
    color: #8b949e;
}

ul{
    list-style: inherit;
    padding-left: 1.2em;
}
ol{
    list-style: decimal;
    padding-left: 1.2em;
}

p {
    font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 800px){
    p {
        margin-bottom: 0rem;
    }
} 

::selection {
    background: #aaaaaa;
    color: #111111;
}