<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>New Post</title>
</head>

<body>
    <section class="text-black dark:text-gray-100 body-font  dark:bg-gray-900">
        <%- include('../_mode.ejs') %>
        <h1 class="text-4xl px-8 py-3 ml-5">New Article</h1>

        <%- include('_forms_field') %>

    </section>

    <%- include('../_footer.ejs') %>

</body>
<script src="../main.js"></script>

</html>